<section id="mainEvent" class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-todayEvent-tab" data-toggle="tab" href="#nav-todayEvent" role="tab" aria-controls="nav-todayEvent" aria-selected="true">오늘의 담벼락</a>
      <a class="nav-item nav-link" id="nav-doneEvent-tab" data-toggle="tab" href="#nav-doneEvent" role="tab" aria-controls="nav-doneEvent" aria-selected="false">어제의 담벼락</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!--오늘의 담벼락-->
    <div class="tab-pane fade show active" id="nav-todayEvent" role="tabpanel" aria-labelledby="nav-todayEvent-tab">
      <div class="card-deck">
        <div class="card" data-url="#">
          <img class="card-img-top" src="https://cfile1.onoffmix.com/attach/F08XlD8UH9zYNJEwues5738zOYwuowqG" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">10.12~11.29</p>
            <h6 class="card-title">2018 스타트업 스쿨 4기 참가자(팀) 모집안내</h6>
            <p class="card-text"><small>주최: 충북창조경제혁신센터</small></p>
            <button type="button" class="btn btn-secondary btn-sm btn-block">
              참여신청 <span class="badge badge-light">4</span>
            </button>
          </div>
        </div>
        <div class="card" data-url="#">
          <img class="card-img-top" src="https://onoffmix.com/images/event/151048/s" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">9.17~2.28</p>
            <h6 class="card-title">[무료교육]4차 산업혁명 대비 혁신성장 청년인재 집중양성</h6>
            <p class="card-text"><small>주최: 충북창조경제혁신센터</small></p>
            <button type="button" class="btn btn-secondary btn-sm btn-block">
              참여신청 <span class="badge badge-light">4</span>
            </button>
          </div>
        </div>
        <div class="card addCard" data-url="#">
          <div class="card-body">
            <h5 class="card-title">포스터 붙이기</h5>
            <p class="card-text">알리고 싶은 행사를 담벼락에 홍보하세요</p>
            <h2 class="card-title text-center"><i class="material-icons">add_circle</i></h2>
            <!-- <a href="#" class="btn btn-primary">만들기</a> -->
          </div>
        </div>
      </div>
      <div class="moreBtn">
        <button type="button" class="btn btn-outline-secondary btn-block">더보기<i class="material-icons">keyboard_arrow_down</i></button>
      </div>
    </div>
    <!--어제의 담벼락-->
    <div class="tab-pane fade cardMute" id="nav-doneEvent" role="tabpanel" aria-labelledby="nav-doneEvent-tab">
      <div class="card-deck">
        <div class="card" data-url="#">
          <img class="card-img-top" src="https://cfile1.onoffmix.com/attach/F08XlD8UH9zYNJEwues5738zOYwuowqG" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">10.12~11.29</p>
            <h6 class="card-title">2018 스타트업 스쿨 4기 참가자(팀) 모집안내</h6>
            <p class="card-text"><small>주최: 충북창조경제혁신센터</small></p>
            <button type="button" class="btn btn-secondary btn-sm btn-block" disabled>
              참여신청 <span class="badge badge-light">4</span>
            </button>
          </div>
        </div>
        <div class="card" data-url="#">
          <img class="card-img-top" src="https://onoffmix.com/images/event/151048/s" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">9.17~2.28</p>
            <h6 class="card-title">[무료교육]4차 산업혁명 대비 혁신성장 청년인재 집중양성</h6>
            <p class="card-text"><small>주최: 충북창조경제혁신센터</small></p>
            <button type="button" class="btn btn-secondary btn-sm btn-block" disabled>
              참여신청 <span class="badge badge-light">4</span>
            </button>
          </div>
        </div>
        <div class="card" data-url="#">
          <img class="card-img-top" src="https://onoffmix.com/images/event/151048/s" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">9.17~2.28</p>
            <h6 class="card-title">[무료교육]4차 산업혁명 대비 혁신성장 청년인재 집중양성</h6>
            <p class="card-text"><small>주최: 충북창조경제혁신센터</small></p>
            <button type="button" class="btn btn-secondary btn-sm btn-block" disabled>
              참여신청 <span class="badge badge-light">4</span>
            </button>
          </div>
        </div>
      </div>
      <div class="moreBtn">
        <button type="button" class="btn btn-outline-secondary btn-block">더보기<i class="material-icons">keyboard_arrow_down</i></button>
      </div>
    </div>
  </div>
</section>