<div id="menu">
  <div id="menu1">
    <div class="container">
      <ul>
        <li><a routerLink=""><i class="material-icons">mail</i></a></li>
        <li><a routerLink="">내 정보</a></li>
        <li><a routerLink="">로그인</a></li>
      </ul>
    </div>
  </div>
  <div id="title">
    <a routerLink="">Itda</a>
  </div>
  <div id="menu2">
    <ul>
        <li><a routerLink="">모임</a></li>
        <li><a routerLink="">이벤트</a></li>
        <li><a routerLink="">대외활동</a></li>
    </ul>
  </div>
</div>
