<section class="content">
  <div class="col-6 mx-auto">
    <form>
      <div class="form-group">
        <label for="inputId">ID</label>
        <input type="text" class="form-control" id="inputId" placeholder="ID">
      </div>
      <div class="form-group">
        <label for="inputPw">Password</label>
        <input type="password" class="form-control" id="inputPw" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-info btn-block">LogIn</button>
    </form>
    <div class="margin"></div>
    <hr/>
    <ul>
      <li routerLink="#">아이디 찾기</li>
      <li routerLink="#">비밀번호 찾기</li>
      <li routerLink="#">회원가입</li>
    </ul>
  </div>
</section>