.card{

    .card-body{
        i{
            top: 3px;
            font-size: 20px;
        }
    }
}

.onoffmixCard{

    img{
        padding: 0px 0px 0px 10px;
        width: 250px;
    }
}

.campuspickCard{

    .title{
        background-color: #1dcdff;
    }
    
    img{
        padding: 15px 10px;
        width: 150px;
    }
}

.ecareerCard{
    img{
        padding: 15px 10px;
        width: 250px;
    }

    .ecareerCategory{
        list-style: none;
        padding: 3px 20px;
        background-color: #6497b1;
        color: white;
    }
}

