<div id="mainEvent" class="container">
  <p>오늘의 담벼락</p>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://cfile1.onoffmix.com/attach/F08XlD8UH9zYNJEwues5738zOYwuowqG" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">10.12~11.29</p>
              <h5 class="card-title">2018 스타트업 스쿨 4기 참가자(팀) 모집안내</h5>
              <p class="card-text">주최: 충북창조경제혁신센터</p>
              <button type="button" class="btn btn-secondary btn-sm btn-block">
                참여신청 <span class="badge badge-light">4</span>
              </button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://onoffmix.com/images/event/151048/s" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">9.17~2.28</p>
              <h5 class="card-title">[무료교육]4차 산업혁명 대비 혁신성장 청년인재 집중양성</h5>
              <p class="card-text">주최: 충북창조경제혁신센터</p>
              <button type="button" class="btn btn-secondary btn-sm btn-block">
                참여신청 <span class="badge badge-light">4</span>
              </button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top siteName" src="https://static.onoffmix.com/images3/global/logoOnoffmix.gif" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">[무료초청]2018 세계 산업 블록체인 포럼 사전밋업</li>
              <li class="list-group-item">드림플러스내꿈에 영감을 더하는 무료특강3</li>
              <li class="list-group-item">[무료초청]2018 세계 산업 블록체인 포럼 사전밋업</li>
              <li class="list-group-item">드림플러스내꿈에 영감을 더하는 무료특강3</li>
              <li class="list-group-item">[무료초청]2018 세계 산업 블록체인 포럼 사전밋업</li>
            </ul>
            <div class="card-body">
              <a routerLink="#">대외활동 바로가기<i class="material-icons">arrow_forward</i></a>
            </div>
          </div>
        </div>

      </div>
      <div class="carousel-item">
        
        /
    
      </div>
      <div class="carousel-item">
        
        /
    
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
