<section id="jobInfo" class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-onoffmix-tab" data-toggle="tab" href="#nav-onoffmix" role="tab" aria-controls="nav-onoffmix" aria-selected="true">온오프믹스</a>
      <a class="nav-item nav-link" id="nav-campuspick-tab" data-toggle="tab" href="#nav-campuspick" role="tab" aria-controls="nav-campuspick" aria-selected="false">캠퍼스픽</a>
      <a class="nav-item nav-link" id="nav-ecareer-tab" data-toggle="tab" href="#nav-ecareer" role="tab" aria-controls="nav-ecareer" aria-selected="false">이커리어센터</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-onoffmix" role="tabpanel" aria-labelledby="nav-onoffmix-tab">
      <iframe src="https://onoffmix.com/event/main"></iframe>
    </div>
    <div class="tab-pane fade" id="nav-campuspick" role="tabpanel" aria-labelledby="nav-campuspick-tab">
      <iframe src="https://www.campuspick.com/activity"></iframe>
    </div>
    <div class="tab-pane fade" id="nav-ecareer" role="tabpanel" aria-labelledby="nav-ecareer  -tab">
      <iframe src="https://ecareer.skhu.ac.kr/icons/app/cms/?html=/home/int3_2.html&shell=/index.shell:222"></iframe>
    </div>
  </div>
</section>