<div class="writeDate">작성일: 0000년 00월 00일 / 작성자: 김성태</div>
<!--요약-->
<section class="content card">
    <div id="summery">
      <div class="title">[미니세미나] 시각화, 데이터 활용의 가치를 높이다 2 - 실무데이터 활용편</div>
      <div><i class="material-icons">today</i>모임 개설일: 2018.10.10 (수)</div>
      <div><i class="material-icons">supervised_user_circle</i>개설자: 김성태</div>
      <div class="btn-toolbar">
        <div><span>참여인원: 00명</span></div>
        <button type="button" class="btn btn-info">
          참여하기
        </button>
        <!--
        <button type="button" class="btn btn-outline-info">수정</button>
        <button type="button" class="btn btn-outline-info">삭제</button>
        -->
      </div>
    </div>
</section>
<div class="margin"></div>
<!--상세-->
<section class="content">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="true">상세설명</a>
      <a class="nav-item nav-link" id="nav-question-tab" data-toggle="tab" href="#nav-question" role="tab" aria-controls="nav-question" aria-selected="false">문의하기</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!--상세설명-->
    <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
        
      청년창업 인큐베이션 프로그램인 스타트업 스쿨에서

        창업 슈퍼히어로(Super Hero)가 될 4기 참가자를 모집합니다!
        
         
        
        입문캠프를 통해 기업가정신을 배우고, 6주간의 린스타트업(Lean Startup)교육을 통하여
        
        프로토타입(시제품) 제작 완성을 목표로 합니다.
    </div>
    <!--문의하기-->
    <div class="tab-pane fade" id="nav-question" role="tabpanel" aria-labelledby="nav-question-tab">
      <div id="qna">
        <!--댓글입력-->
        <form>
          <div class="input-group mb-3">
            <textarea class="form-control" rows="3" placeholder="댓글을 입력하세요." aria-label="댓글을 입력하세요." aria-describedby="button-addon2"></textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">등록</button>
            </div>
          </div>
        </form>
        <!--qna block-->
        <div class="block">
          <!--문의 글 출력-->
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" href="#question1" aria-expanded="false" aria-controls="collapseExample">
                  문의 글 제목입니다아아아 Collapsible Group Item #1
                </button>
              </h5>
              <ul class="toolbar">
                <li><i class="material-icons" data-toggle="tooltip" data-placement="top" title="수정">edit</i></li>
                <li><i class="material-icons" data-toggle="tooltip" data-placement="top" title="삭제">clear</i></li>
              </ul>
            </div>
            <div id="question1" class="collapse">
              <div class="card-body">
                문의 글 내용입니다아아앙
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <!--문의 글 답글-->
          <div class="row">
            <div class="col-1">
              <i class="material-icons reCommentIcon">subdirectory_arrow_right</i>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" href="#answer1" aria-expanded="false" aria-controls="collapseExample">
                      문의 글 답글 제목입니다아아아 Collapsible Group Item #1
                    </button>
                  </h5>
                </div>
                <div id="answer1" class="collapse">
                  <div class="card-body">
                    문의 글 답글 내용입니다아아앙
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--qna block end-->
      </div>
    </div>
  </div>
</section>
