@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

a:hover{
    color: #6497b1;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;

    :hover{
        color: #6497b1;
        text-decoration: none;
    }
}

.margin{
    margin: 10px 0px;
    padding: 10px 0px;
}

i{
    position: relative;
}

[data-url]{
    cursor: pointer;
}