@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

a:hover{
    color: #6497b1;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;

    :hover{
        color: #6497b1;
        text-decoration: none;
    }
}

.margin{
    margin: 10px 0px;
    padding: 10px 0px;
}

i{
    position: relative;
}

[data-url]{
    cursor: pointer;
}

.meetingCard{
    .card{
        height: 175px;
        
        .card-text{
            overflow: hidden;
            text-overflow: ellipsis;
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            line-height: 1.5rem;
            max-height: 50px; /* Fallback for non-webkit */
        }
    }
}

[routerLink]{
    cursor: pointer;
}

.tab-content{
    padding: 10px;
    background-color: white;
}
